<!DOCTYPE html>
<html lang=fr>
	<head>
		<link href="../static/css/site.css" rel="stylesheet" type="text/css" media="all" />
		<title>Choix de Visualisation.</title>
	</head>


	<body>
		<h1>Bienvenue sur notre site dédié aux personnages des comics Marvel !</p>

		<h2> Veuillez choisir une des visualisations pour en apprendre plus. </p>
	</br>



		<center><a href="/accueil_graph"><img src="../static/capture_graph.png" style="width:600px; height:400px" title="Noeuds-Liens" >
		<a href="/choix_monde"><img src="../static/worldcloud.png" style="width:600px; height:400px" title="Wordcloud"></a>
		<a href="/accueil_final_graph"><img src="../static/final_graph.png" style="width:600px; height:400px" title="final graph"></a></center>
	</br>
		<a href="/">Retour vers l'accueil</a>
  </body>

	<footer>
	</br>
	</br>
	<p class="pied">Ce site a été créé par Wael Ben Hadj Yahia, Marie-Mathilde Garcia et Dorian Hervé dans le cadre de l'UE Projet Visualisation.</p>
	</footer>
</html>
