<!DOCTYPE html>
<html lang=fr>
	<head>
		<link href="../static/css/accueil_graph.css" rel="stylesheet" type="text/css" media="all" />
		<title>Evolution temporelle</title>
	</head>

	<body>

		<h1> Graphe de l'évolution annuelle des comics Marvel </h1>
		</br>

		<center>


		</br>
	</br>
</br>
		<img src="../static/all_comics.jpg" alt="All hero" width="800"/>

	</br>
	</br>


			<h2> Qu'est-ce que nous présente cette visualisation ?</h2>
			</br>
			<h3> Sur ce graphique, vous pourrez voir l'évolution du nombre de comics et de séries par personnage en fonction des années . Ce qu'on appelle "série" est une série de livres. </h3>
			<h3> Lorque que vous allez déclencher l'animation, les années vont défiler automatiquement de 1920 à nos jours. Vous pourrez, lorsque l'animation sera terminée, défiler les années manuellement en passant la souris sur la zone des années. Si vous voulez voir une nouvelle fois l'animation, il vous suffit de rafraîchir la page !</h3>
			<h3> Ce graphique nous permet d'observer les moments où certains personnages se sont détachés des autres, en terme de nombre de comics et donc de "popularité". Nous avons aussi décidé d'observer le nombre de séries, pour voir s'il y avait un lien avec le nombre de comics. Par exemple, est-ce qu'un personnage avec beaucoup de comics apparaît dans "une seule grosse série" ou dans plusieurs séries ? </h3>

</br>
</br>
<h3>Par ailleurs, on peut étudier l'impact de certains évènements historiques sur la croissance de nos personnages (stagnation du nombre de comics pendant quelques années à partir de 1942, qui s'explique par l'entrée des USA dans la seconde guerre mondiale), voire encore l'idéologie créative de Marvel (explosion du nombre de séries de tous les personnages à partir de 2012, ce qui reflète la tendance à vouloir croiser plusieurs personnages dans un meme comic, tendance que l'on confirme avec la multiplication des films du meme type que "Avengers" dès 2012).</h3>
</br><h3>A vous de vous amuser et de partager vos trouvailles avec la communauté Marvel !</h3></br></br>
<a href="/final_graph" class="button">Démarrer l'animation !</a>
</br>
</br>

<a href="/choix_visu">Retour</a>
</center>
  </body>

	<footer>
	</br>
	<p class="pied">Ce site a été créé par Wael Ben Hadj Yahia, Marie-Mathilde Garcia et Dorian Hervé dans le cadre de l'UE Projet Visualisation.</p>
	</footer>
</html>
