<!DOCTYPE html>
<html lang=fr>
	<head>
		<link href="../static/css/accueil_graph.css" rel="stylesheet" type="text/css" media="all" />
		<title>Avengers</title>
	</head>
	<body>

		<h1>Avengers</h1>




			<form action="/tfidf" method="get">
			<fieldset>
			<legend> Choisissez un personnage : </legend>
				<FORM>
		    <SELECT name="perso" size="1">
		    <OPTION>Iron Man</OPTION>
		    <OPTION>Thor</OPTION>
		    <OPTION>Captain America</OPTION>
			  <OPTION>Black Widow</OPTION>
		    </SELECT>
		    </FORM>
				</br>
			</br>
			</br>
		<input type="submit"/>
		</fieldset>
		</form>
	</br>


<center><img src="../static/avengers_gang.jpeg" style="width:8000x; height:600px" title="Avengers" alt="Avengers">
</br>
</br>
<a href="/choix_monde">Retour</a>
</center>
  </body>
	<footer>
</br>
	<p class="pied">Ce site a été créé par Wael Ben Hadj Yahia, Marie-Mathilde Garcia et Dorian Hervé le cadre de l'UE Projet Visualisation.</p>
	</footer>
</html>
