<!DOCTYPE html>
<html lang=fr>
	<head>
		<link href="../static/css/accueil_graph.css" rel="stylesheet" type="text/css" media="all" />
		<title>Choix du monde</title>
	</head>
	<body>

		<h1> WordCloud </h1>
		<center><p class='details'><em> Choisissez le monde qui vous intéresse : </em></p>


		<a href="/avengers"><img src="../static/avengers_logo.jpg" style="width:350px; height:300px" title="Avengers" alt="Avengers">
		<a href="/ff"><img src="../static/ff_logo.jpg" style="width:350px; height:300px" title="Fantastic-Four" alt="Fantastic-Four">
		<a href="/xmen"><img src="../static/xmen_logo.jpg" style="width:350px; height:300px" title="X-Men" alt="Xmen"></a>
		</center>

	</br>
		</br>
			</br>

<h2> Qu'est-ce qu'un WordCloud ?</h2>

<center>
<h3> Un WordCloud permet permet de visualiser les mots les plus significatifs d'un personnage. C'est-à-dire les mots les plus récurrents des descriptions des comics dans lesquels il apparaît. </h3>
<h3> D'abord, il vous faut choisir un univers. Ensuite, vous aurez un personnage à choisir, et un WordCloud des 200 mots les plus importants de ce personnage apparaitra. Vous pouvez ouvrir un nouvel onglet et mettre cote à cote les WordCloud des personnages que vous désirez comparer ! </h3></br>
</br>
<h3>Afin que vous démarriez sur de bonnes bases, voici un exemple d'interprétation : la comparaison des WordCloud de Wolverine et de Storm surligne une différence flagrante : la taille du mot "xmen". Bien que ce mot soit le mot le plus important pour les deux personnages, il l'est beaucoup plus pour Storm qu'il ne l'est pour Wolverine. Qu'est ce que cela veut dire ? Ceci met en évidence le fait que Storm est plutot considérée comme étant un simple membre des xmen, alors que Wolverine a une identité propre à lui, et son personnage est bien défini et ce de manière plus profonde et détaillée que Storm. Cette idée est corroborée par la présence de "logan" dans le cloud de Wolverine, ce qui prouve qu'on a une véritable connaissance de son histoire et de son identité.</h3>
</br><h3>A vous maintenant de vous pencher sur les WordCloud de vos personnages préférés et d'en extraire toutes les subtilités qui vous échappent encore !</h3></br>
</br><h3>Vous trouvez qu'il y'a trop de mots ? Choisissez un nombre de mots qui vous convient avec le formulaire dédié à cet effet ! La disposition des mots ne vous convient pas ? Rafraichissiez la page et on vous en proposera une autre ! </h3>

</br>
</br>
<a href="/choix_visu">Retour</a>
</center>
  </body>

	<footer>
</br>
	<p class="pied">Ce site a été créé par Wael Ben Hadj Yahia, Marie-Mathilde Garcia et Dorian Hervé dans le cadre de l'UE Projet Visualisation.</p>
	</footer>
</html>
