<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="../static/css/final_graph.css" rel="stylesheet" type="text/css" media="all" />
<title> Graphique de l'évolution du nombre de comics et de séries par personnage et par année </title>
</head>
<center>
<body>
<h1>Graphique de l'évolution du nombre de comics et de séries par personnage et par année </h1>
</br>
</br>
<div id="chart"></div>

<script src="https://d3js.org/d3.v3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>

<script>
// Chart dimensions.
var margin = { top: 19.5, right: 100, bottom: 50, left: 100 },
    width = 1000 - margin.right,
    height = 600 - margin.top - margin.bottom;


// Various scales. These domains make assumptions of data, naturally.
var xScale = d3.scale.linear().domain([0, 4000]).range([0, width]),
    yScale = d3.scale.linear().domain([0, 250]).range([height, 0]),
    radiusScale = d3.scale.sqrt().domain([0, 5e8]).range([0, 40]),
    colorScale = d3.scale.category10();

// The x & y axes.
var xAxis = d3.svg.axis().scale(xScale).orient("bottom").ticks(12, d3.format(",d"));
var yAxis = d3.svg.axis().scale(yScale).orient("left");

// Create the SVG container and set the origin.
var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Add the x-axis.
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

// Add the y-axis.
svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

// Add an x-axis label.
svg.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width)
    .attr("y", height - 6)
    .text("Nombre de comics (cumulé)");

// Add a y-axis label.
svg.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("y", 6)
    .attr("dy", ".75em")
    .attr("transform", "rotate(-90)")
    .text("Nombre de séries (cumulé)");

// Add the year label; the value is set on transition.
var label = svg.append("text")
    .attr("class", "year label")
    .attr("text-anchor", "end")
    .attr("y", height - 24)
    .attr("x", width)
    .text(1900);
 var format = d3.format(".0f");
var tip = d3.tip()
  .attr('class', 'd3-tip')
  .direction('s')
  .html(function(d) {
    return "<p><strong>" + d.name + "</strong></p><p><strong>Nombre de comics: </strong>" + format(d.income) + "</p>"
     +"</strong></p><p><strong>Nombre de séries: </strong>" + format(d.lifeExpectancy) + "</p>";
  })


  // Colors legend
  svg.append("rect").attr("x", 140).attr("y", 57).attr("width", 20).attr("height", 20).attr("r", 6).style("fill", "#1f77b4")
  svg.append("rect").attr("x", 140).attr("y", 87).attr("width", 20).attr("height", 20).attr("r", 6).style("fill", "ff7f0e")
  svg.append("rect").attr("x", 140).attr("y", 117).attr("width", 20).attr("height", 20).attr("r", 6).style("fill", "#2ca20c")
  svg.append("rect").attr("x", 140).attr("y", 147).attr("width", 20).attr("height", 20).attr("r", 6).style("fill", "d62728")

  svg.append("text").attr("x", 170).attr("y", 70).text("Avengers").style("font-size", "15px").attr("alignment-baseline","middle")
  svg.append("text").attr("x", 170).attr("y", 100).text("X-Men").style("font-size", "15px").attr("alignment-baseline","middle")
  svg.append("text").attr("x", 170).attr("y", 130).text("Univers Marvel").style("font-size", "15px").attr("alignment-baseline","middle")
  svg.append("text").attr("x", 170).attr("y", 160).text("Fantastic Four").style("font-size", "15px").attr("alignment-baseline","middle")


// Various accessors that specify the four dimensions of data to visualize.
function x(d) { return d.income; }
function y(d) { return d.lifeExpectancy; }
function radius(d) { return d.population; }
function color(d) { return d.region; }
function key(d) { return d.name; }

// Load the data.
d3.json("/json_final_graph", function(nations) {
  	// A bisector since many nation's data is sparsely-defined.
  	var bisect = d3.bisector(function(d) { return d[0]; });

  	// Add a dot per nation. Initialize the data at 1800, and set the colors.
  	var dot = svg.append("g")
    		.call(tip)
    		.attr("class", "dots")
    	.selectAll(".dot")
    		.data(interpolateData(1900))
    	.enter().append("circle")
    		.on('mouseover', tip.show)
     		.on('mouseout', tip.hide)
    		.attr("class", function (d) { return "dot " + d.name; })
      	.style("fill", function(d) { return colorScale(color(d)); })
      	.call(position)
      	.sort(order);

  	// Add an overlay for the year label.
  	var box = label.node().getBBox();

  	var overlay = svg.append("rect")
    		.attr("class", "overlay")
    		.attr("x", box.x)
    		.attr("y", box.y)
    		.attr("width", box.width)
    		.attr("height", box.height)
    		.on("mouseover", enableInteraction);

  	// Start a transition that interpolates the data based on year.
  	svg.transition()
      	.duration(15000)
      	.ease("linear")
      	.tween("year", tweenYear)
      	.each("end", enableInteraction);

  	// Positions the dots based on data.
  	function position(dot) {
      	dot.attr("cx", function(d) { return xScale(x(d)); })
          	.attr("cy", function(d) { return yScale(y(d)); })
          	.attr("r", function(d) { return radiusScale(radius(d)); });
    		}

  	// Defines a sort order so that the smallest dots are drawn on top.
  	function order(a, b) { return radius(b) - radius(a); }



  	// After the transition finishes, you can mouseover to change the year.
  	function enableInteraction() {
      	var yearScale = d3.scale.linear()
        	.domain([1900, 2019])
        	.range([box.x + 10, box.x + box.width - 10])
        	.clamp(true);

      	// Cancel the current transition, if any.
      	svg.transition().duration(0);

      	overlay
          	.on("mouseover", mouseover)
          	.on("mouseout", mouseout)
          	.on("mousemove", mousemove)
          	.on("touchmove", mousemove);

      	function mouseover() { label.classed("active", true); }
      	function mouseout() { label.classed("active", false); }
      	function mousemove() { displayYear(yearScale.invert(d3.mouse(this)[0])); }
  	}

  	// Tweens the entire chart by first tweening the year, and then the data.
  	// For the interpolated data, the dots and label are redrawn.
  	function tweenYear() {
      	var year = d3.interpolateNumber(1900, 2019);
      	return function(t) { displayYear(year(t)); };
    }

  	// Updates the display to show the specified year.
  	function displayYear(year) {
      	console.log(dot.data(interpolateData(year), key).call(position).sort(order))
        dot.data(interpolateData(year), key).call(position).sort(order);
      	label.text(Math.round(year));
    }

  	// Interpolates the dataset for the given (fractional) year.
  	function interpolateData(year) {
      	return nations.map(function(d) {
          	return {
              	name: d.name,
              	region: d.region,
              	income: interpolateValues(d.income, year),
              	population: interpolateValues(d.population, year),
              	lifeExpectancy: interpolateValues(d.lifeExpectancy, year)
            };
        });
    }

  	// Finds (and possibly interpolates) the value for the specified year.
  	function interpolateValues(values, year) {
      	var i = bisect.left(values, year, 0, values.length - 1),
            a = values[i];
      	if (i > 0) {
          	var b = values[i - 1],
                t = (year - a[0]) / (b[0] - a[0]);
          	return a[1] * (1 - t) + b[1] * t;
        }
      return a[1];
    }

    function update(v, duration) {
    dragit.time.current = v || dragit.time.current;
    displayYear(dragit.time.current)
    d3.select("#slider-time").property("value", dragit.time.current);
  }

  function init() {

    dragit.init(".gRoot");

    dragit.time = {min:1900, max:2019, step:1, current:1900}
    dragit.data = d3.range(nations.length).map(function() { return Array(); })

    for(var yy = 1900; yy<2018; yy++) {

      interpolateData(yy).filter(function(d, i) {
        dragit.data[i][yy-dragit.time.min] = [xScale(x(d)), yScale(y(d))];

      })
    }

    dragit.evt.register("update", update);

    //d3.select("#slider-time").property("value", dragit.time.current);

    d3.select("#slider-time")
      .on("mousemove", function() {
        update(parseInt(this.value), 500);
        clear_demo();
      })

    var end_effect = function() {
      countrylabel.text("");
      dot.style("opacity", 1)
    }

    dragit.evt.register("dragend", end_effect)
  }
});



</script>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</body>
<a href="/accueil_final_graph">Retour</a>

</center>

</html>
