<!DOCTYPE html>
<html lang=fr>
	<head>
		<link href="../static/css/accueil_graph.css" rel="stylesheet" type="text/css" media="all" />
		<title>Marvel</title>
	</head>

	<body>


		</br>



		<center>
        <h1> Bienvenue sur le site préféré des enthousiastes de Marvel</h1>
        <img src="../static/sl.png" alt="We miss you"  width="1000"/>


		</br>
	</br>
</br>


			<h2>Que peut-on faire sur ce site ?</h2>
			</br>
			<h3> Ce site offre à nos chers fanatiques de Marvel des moyens ludiques pour en apprendre davantage sur leurs personnages préférés. </h3>
			<h3> Nous vous proposons trois types de visualisations : </br></br>
            </br>- Un graphe permettant de visualiser les réseaux sociaux de certains personnages, avec possibilité de naviguer de manière intéractive dans le graphe.</h3>
            </br><h3>- Une visualisation moderne et paramètrable "WordCloud" qui donne la possibilité d'avoir le réseau sémantique caractéristique d'un personnage.  </h3>
			</br><h3>- Un graphe intéractif mettant en valeur l'évolution temporelle de la popularité de certains personnages. </h3></br></br></br>
            <h3> Choisir deux personnages Marvel et naviguer leurs réseaux sociaux pour voir s'ils se croisent ? Comparer les champs lexicaux caractéristiques de vos héros préférés ? Se pencher sur la popularité des superhéros en étudiant simultanément leurs croissances au fil des années ? Vos désirs les plus profonds deviennent réalité grâce à notre site qui vous offre ces possibilités et bien plus ! </h3>

</br>
<a href="/choix_visu" class="button">Le suspens me ravage !</a>
</br>
</br>


</center>
  </body>

	<footer>
	</br>
	<p class="pied">Ce site a été créé par Wael Ben Hadj Yahia, Marie-Mathilde Garcia et Dorian Hervé dans le cadre de l'UE Projet Visualisation.</p>
	</footer>
</html>
